
//Base
@import "base/reset";
@import "base/typography";

//layout
@import "layout/navigation";
@import "layout/header";
@import "layout/footer";
//pages
@import "pages/index";
@import "pages/biografia";


/*Main pagina libros*/
#seccionLibros {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    align-content: center;
    background-image: url(../img/fondoB.jpg);
    background-size: 100% 100%;
    color: black;
}
.ficha {
    max-width: 650px;
    margin: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 5%;
}
.ficha a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ficha p {
    min-height: 310px;
}
#seccionLibros article img {
    width: 60%;
    margin: 20px;
    padding: 10px;
}
#libroMusk {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#libroMusk iframe {
    margin-top: 20px;
    width: 290px;
    height: 200px;
}

/* Pantalla 768px en adelante*/
@media screen and (min-width: 768px) {
    #libroMusk iframe {
    width: 500px;
    height: 300px;
    }
}

/* Pantalla 1200px en adelante*/
@media screen and (min-width: 1200px) {
    #seccionLibros {
        display: grid;
        grid-template-areas: 
        "fichaLibro1 videoLibro"
        "fichaLibro2 fichaLibro3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 900px 1000px;
        justify-items: center;
        align-items: start;
    }

    #libro1 {
        grid-area: fichaLibro1;
    }
    #libro2 {
        grid-area: fichaLibro2;
    }
    #libro3 {
        grid-area: fichaLibro3;
    }
    #libroMusk {
        grid-area: videoLibro;
    }
    #libroMusk iframe {
        position: absolute;
        margin-top: 20vh;
        width: 550px;
        height: 300px;
    }
    .ficha p {
        height: 270px;
    }
}
/*Main pagina noticias*/
#noticiasRecientes {
    background-image: url(../img/fondoB.jpg);
    background-size: 100% 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#noticiasRecientes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#noticiasRecientes article iframe {
    width: 280px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.twitter-tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#noticiasRecientes a {
    width: 290px;
}


/* Pantalla 768px en adelante*/
@media screen and (min-width: 768px) {
    #noticiasRecientes article iframe {
        width: 500px;
        height: 300px;
    }
    .twitter-tweet {
        width: 400px;
    }
}
/* Pantalla 1200px en adelante*/
@media screen and (min-width: 1200px) {
    #noticiasRecientes {
        display: grid;
        grid-template-areas:
        "videoUno   videoDos    ."
        "postTres   postUno    postDos";
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 450px 450px;
        align-items: stretch;
        justify-items: center;
        position: relative;

    }
    #primerVideoNews {
        grid-area: videoUno;
        width: 400px;
        padding: 20px;
        margin: 20px;
        left: 10%;
        position: absolute;
    }
    #segundoVideoNews {
        grid-area: videoDos;
        width: 400px;
        padding: 20px;
        margin: 20px;
        left: 80%;
        position: absolute;
    }
    #xpost1 {
        grid-area: postUno;
        width: 300px;
    }
    #xpost3 {
        grid-area: postDos;
        width: 300px;
    }
    #xpost2 {
        grid-area: postTres;
        width: 300px;
    }
}

/*Main pagina contacto*/
#contactoSeccion {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
#contactoSeccion img {
    width: 90%;
}
#formularioContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#datosContacto div {
    display: flex;
    flex-direction: column;
}
#datosContacto input:focus {
    background-color: #1d2f7c;
    color: white;
}
#detallesNegocio div {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    max-width: 420px;
}
#terminosCondiciones {
    display: flex;
    flex-direction: row;
}
#terminosCondiciones input {
    margin-right: 10px;
}

#formularioContacto button {
    color: white;
    background-color: black;
    border-radius: 10%;
}
/* Pantalla 768px en adelante*/
@media screen and (min-width: 768px) {
    #contactoSeccion h2 {
        font-size: 30px;
    }
}
/* Pantalla 1200px en adelante*/
@media screen and (min-width: 1200px) {
    #contactoSeccion h2 {
        font-size: 30px;
    }
    #contactoSeccion {
        display: flex;
        flex-direction: row;
    }
    #contactoSeccion img {
        width: 40%;
        margin-right: 20px;
    }
}
