.menu {
    padding-left: 10px;
    padding-right: 10px;

    a {
        color: $color-letra-principal;
        font-weight: 400;

        &:hover {
            color: $color-pseudoclases-primario;
            text-decoration: underline;
        }
    }
    .offcanvas {
        color: $color-letra-principal;

        .offcanvas-header {
            justify-content: flex-end;

            .offcanvas-title {
                font-size: 25px;
            }
        }
        .offcanvas-body {
            a {
                font-size: 20px;
                color: $color-letra-principal;

                &:hover {
                    color: $color-pseudoclases-primario;
                }
            }
        }
    }
}