//Estilos para h1
h1 {
    font-size: 25px;
    font-weight: 700;
 }
 //Estilos para h2
h2 {
    font-size: 20px;
    font-weight: 400;
    width: 70%;
}
//Estilos para h3
h3 {
    font-size: 18px;
    text-align:center; 
}
//Estilos para h4
h4 {
    font-size: 12px;
}
// Definición de estilos para .general
.general {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

/* Pantalla 600px en adelante*/
@media screen and (min-width: 600px) {
    /*Global*/
    h1 {
        font-size: 35px;
        font-weight: 700;
     }
    
    h2 {
        font-size: 30px;
        font-weight: 400;
    }
    
    h3 {
        font-size: 25px;
        text-align:center; 
    }
    
    h4 {
        font-size: 20px;
    }
    .general {
        font-size: 20px;
    }
}