/*Variables*/
$color-letra-principal: rgb(0, 0, 0);
$color-letra-secundario: rgb(255, 255, 255);

$color-pseudoclases-primario: #1d2e7c;
$color-pseudoclases-secundario: rgba(255, 255, 255, 0.825);

$color-efecto-sombra: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

$color-boton1: rgb(0, 0, 0) ;

$gradiente-background: linear-gradient(to right top, #051937, #041f48, #072559, #102a6b, #1d2f7c);

$fondo-imagen: url(../img/fondoB.jpg);
